/* estilos globais */

*, *::before, *::after {
	box-sizing:border-box;
}

body {
	font-family:'Inter', sans-serif;
}

body, input {
	padding:0;
	margin:0;
}

/* header */

header {
	text-align:center;
}

/* main */

#cadastro {
	height:50vh;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
}

#cadastrar {
	border:none;
	border-radius:2em;
	padding:0.5em;
	cursor:pointer;
}

.campo {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.titulo {
	font-size:1em;
	margin-bottom:0.25em;
}

.input {
	width:15em;
}
