/* estilos globais */

*, *::before, *::after {
	box-sizing:border-box;
}

body {
	padding:0;
	margin:0;
}

/* main */	

#formulario {
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

#cadastrar {
	border:none;
	border-radius:2em;
	padding:.75em;
}

.sessao {
	padding:.25em;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.titulo {
	font-size:1em;
}



