/* estilos globais */

*, *::before, *::after {
	box-sizing:border-box;
}

body {
	font-family:'Inter', sans-serif;
}

body, input {
	padding:0;
	margin:0;
}

header {
	text-align:center;
}

/* header */

/* main */

#formulario {
	height:50vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
}

#logar {
	border:none;
	border-radius:2em;
	padding:0.55em;
	cursor:pointer;
}

.campo {
	padding:0.75em;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.titulo {
	font-size:1em;
	margin-bottom:0.25em;
}
